<h2 class="text-center h2">PROFILE</h2>
<div class="text-center" style="margin-bottom:30px;">
  <%= image_tag('london2.jpg') %>
</div>
<table class="table table-striped">
	<tbody>
		<tr>
			<th class="text-center">NAME</th>
			<td>佐藤慶太</td>
		</tr>
		<tr>
			<th class="text-center">BIRTHDAY</th>
			<td>1995年5月20日</td>
		</tr>
		<tr>
			<th class="text-center">CHARACTER</th>
			<td>基本いつでも笑顔</td>
		</tr>
		<tr>
			<th class="text-center">HOBBY</th>
			<td>英語を話すこと</td>
		</tr>
		<tr>
			<th class="text-center">OTHER</th>
			<td>美味しいものを食べるのが大好き！</td>
		</tr>
	</tbody>
</table>
