<h2 class="text-center h2">POST EDIT</h2>

<div class="text-center">ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</div>
<div class="field center-block">
<%= form_for(@note) do |f| %>
      <div class="content">TITLE</div><%= f.text_field :title, class: "form-control center-block" %>s
　　　 <div class="content">CONTENT</div><%= f.text_field :content, class: "form-control center-block" %>
      <div class="content">　　　</div>
 <div class="text-center"><%= f.submit "保存" %></div> 
<% end %>
<div class="text-center">ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</div>
</div>